.modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: linear-gradient(145deg, #1e014b, #13012b);
    display: flex;
    justify-content: center;
    align-items: center;  
    z-index: 9999;
  }
  
  .modal-in {
    animation: modal-in 0.6s ease forwards;
  }
  
  .modal-out {
    animation: modal-out 0.5s ease forwards;
  }
  
  .modal-content {
    text-align: center;
    color: #fff;
    animation: content-fade-in 1s ease-out forwards;
  }
  
  .white-text, .purple-text, .purple-light-text {
    font-size: 50px;
    display: inline-block;
    opacity: 0;
    transform: translateY(20px);
  }
  
  .fade-in {
    animation: text-fade-in 1s ease-out forwards;
  }
  
  .delay-1 {
    animation-delay: 0.5s;
  }
  
  .delay-2 {
    animation-delay: 1s;
  }
  
  .delay-3 {
    animation-delay: 1.5s;
    margin-left: 20px;
  }
  
  .icons {
    display: flex;
    gap: 20px;
    justify-content: center;
    margin-bottom: 20px;
  }
  .icon1{
    animation: 0.5s icons;
  }
  .icon2{
    animation: 1s icons;
  }
  .icon3{
    animation: 1.5s icons;
  }

.modal-text span{
  background: linear-gradient(to right, #a855f7, #6366f1);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: 700;
}
  
  @keyframes modal-out {
    from {
      opacity: 1;
      transform: scale(1);
    }
    to {
      opacity: 0;
      transform: scale(0.5);
    }
  }
  
  @keyframes content-fade-in {
    from {
      opacity: 0;
      transform: translateY(20px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }
  
  @keyframes text-fade-in {
    0% {
      opacity: 0;
      transform: translateY(200px);
    }
    50% {
      opacity: 0.5;
      transform: translateY(10px);
    }
    100% {
      opacity: 1;
      transform: translateY(0);
    }
  }
  

@keyframes icons {
  from{
    opacity: 0;
    transform: translateY(-300px);
  }
  to{
    opacity: 1;
    transform: translateY(0);
  }
}


@media (max-width: 768px) {
.white-text, .purple-text, .purple-light-text {
  font-size: 40px;
}
}