* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  color: hsl(0, 0%, 94%);
  line-height: 1.6;
  font-size: 1rem;
  width: 100%;
  max-width: 100vw;
  position: relative;
}

.container {
  width: 90%;
  max-width: 1440px;
  margin: 0 auto;
  padding: 0 10px;
  box-sizing: border-box;
}
img, video, iframe {
  max-width: 100%;
  height: auto;
  display: block;
}

@media (max-width: 768px) {
  .container {
    width: 95%;
    padding: 0 5px;
    max-width: 100%;
  }
}

@media (max-width: 480px) {
  .container {
    width: 100%;
    padding: 0 10px;
    max-width: 100%;
  }
}