* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  background: linear-gradient(145deg, #150133, #13012c);
  --tw-bg-opacity: 11;
  color: hsl(0, 0%, 94%);
  line-height: 1.6;
  font-size: 1rem;
  overflow-x: hidden;
}

.container {
  width: 90%;
  max-width: 1440px;
  margin: 0 auto;
}